nav{
  background: #C6FFDD;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-decoration: none;
  text-align: center;
  font-size: 20px;

}
ul li {
list-style: none ;
display: inline-block;
padding: 10px;


}

nav ul li a{
  text-decoration: none;
  color: white;
  display: block;
  padding: 13px 25px;
  transition: 100ms;
}

nav ul li a:hover{
  background-color: rgba(136, 98, 98, 0.311);
 
}

